{
    margin: 0;
    padding: 0;
}

:root{
background-color: black ;
}

.cabecalho{
background-color:rgb(59, 28, 170) ;
}

.corpo{
background-color: rgb(115, 25, 233) ;
}

.footer{
background-color: rgb(183, 0, 255);
}