{
    margin: 0;
    padding: 0;
}

:root{
background-color: black ;
}

.cabecalho{
background-color:rgb(104, 69, 233) ;
padding: 15px;
}

.corpo{
background-color: rgb(99, 89, 238) ;
padding: 15px;
}

.footer{
background-color: rgb(106, 132, 250);
padding: 15px;
}
.boton{
    position: fixed; 
    top: 25px;
    left: 22px;
}